body {
    max-width: 1200px;
    min-width: 330px;
}

.gridlayout {
    background-image: url('images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-bottom: 10px;
    
}

.headercontainer {
    display: flex;
    flex-direction: column;
}

.headdiv.arriba {
    display: flex;
    align-items: center;
}

.smallheader {
    margin: 40px 20px;
}

.rightheader {
    margin-right: 2%;
}

.midheader {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 5;
}

.largeheader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 140, 0, 0.688);
    margin: 9% 5% 0 5%;
    height: 8rem;
    font-family: 'Gentium Book Plus', serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;

}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

a:hover {
    color: #ee7463;
}

.fa-brands {
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.fa-brands:hover {
    color: #6394ee;
    cursor: pointer;
}

.nav-boton {
    background: transparent;
    font-family: sans-serif;
    letter-spacing: 1px;
    border-color: #ee7463;
    color: #ee7463;
    border-radius: 2px;
    display: none;
    padding: 2px;
}

.nav-boton:hover {
    background-color: #ee7463;
    color: white;
    border-color: transparent;
}

.flexcontainer {
    width: 100%;
    background-color: white;
    display: flex;
    gap: 10px;
}

.containercard {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.203);
    padding: 5px;
    gap: 15px;
}

.rightaside {
    width: 20%;
    background-color: rgba(128, 128, 128, 0.203);
    padding: 20px;
    margin: 0px 0px 0px ;
    text-align: center;
}

.card {
    width: 45%;
    min-width: auto;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
}

.imagecard {
    width: 100%;
    height: auto;
}

.cardtitle {
    background-color: #ee7463;
    color: rgba(0, 0, 0, 0.757);
    padding: 1rem 0.3rem 0.1rem;
    margin-top: 5px;
    

}

.textPhoto {
    color: blanchedalmond;
    margin-left: 10px;
    margin-top: -30px;
    font-size: 1rem;
}

.cardtext {
    margin-top: 0px;
    padding: 5px;
    column-count: 2;
}

.cardlink {
    margin: 5px 0px;
    font-size: 0.6rem;
}

.footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.059);
    padding: 2px;
    margin: 10px 10px;
}

.cardundertext {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.footertext {
    margin: 10px;
}

@media (max-width: 874px) {

    .largeheader {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .headdiv.arriba {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .smallheader {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .midheader {
        width: 100%;
        margin: 5% auto;
    }

    .rightheader {
        display: flex;
        margin-bottom: 10%;
    }

    .flexcontainer {
        flex-direction: column;
        width: 100%;
    }

    .containercard {
        width: auto;
       
    }
    
    .rightaside {
        width: auto;
        flex-basis: auto;
    }

    .cardtext{
        column-count: 1;
    }

    

}


@media (max-width: 480px) {

    .headdiv {
        display: flex;
        flex-direction: column;
    }

    .midheader {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 4.5rem;
    }

    .smallheader {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .largeheader {
        margin: 15% 0% 0% 0%;
        font-size: 0.8rem;
        padding: 5px;
    }

    .rightheader {
        display: flex;
        margin-bottom: 0px;
        order: -1;
    }

    .fa-brands {
        color: #ee7463;
        margin-right: 5px;
    }

    .nav-boton {
        margin-top: 0px;
        display: block;
        width: 4rem;
    }

    .dissapear {
        display: none;
    }

    a {
        margin: 5px 20px;
    }

    .card {
        width: 100%;
    }
    

}
